@model IEnumerable<Sysmap.Portal.Sanity.Models.VivoCenarios>

@{
    ViewData["Title"] = "HistoricoReleaseVivo";
}

@section head{
    <!-- third party css -->
    <link href="~/assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
}

<h2 style="text-align:center">Historico de Releases da Vivo</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Codigo da Release</h4>
                <p class="text-muted">
                    Selecione o codigo da release que deseja pesquisar.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <form asp-action="HistoricoReleaseVivo">

                            <div class="form-group mb-3">
                                <select class="form-control" id="codRelease" name="codRelease">
                                    <option value="">Selecione...</option>
                                    @foreach (var item in ViewBag.CodCenarios)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                @*<input type="submit" value="Pesquisar" class="btn btn-outline-info" />*@
                                <button type="submit" class="btn btn-outline-info"><i class="fas fa-search"></i> Pesquisar</button>
                            </div>
                        </form>
                    </div> <!-- end col -->
                </div>
                <!-- end row-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div><!-- end col -->
</div>

@if (ViewBag.SearchRelease)
{

    <h2>Release nº @ViewBag.Codigo</h2>

    <p>
        <a href="@Url.Action("ExportRelease","Vivo",new { release =  @ViewBag.Codigo})" class="btn btn-outline-info"><i class="fas fa-file-excel"></i> Exportar</a>
    </p>

    <div class="row">
        <table id="basic-datatable" class="table dt-responsive nowrap" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Cenario
                    </th>
                    <th>
                        Demanda
                    </th>
                    <th>
                        Analista
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Sistema
                    </th>
                    <th>
                        Plataforma
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cenario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Demanda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Analista)
                        </td>
                        <td>
                            @if (item.Executado == 0)
                            {
                                <text>Não Executado</text>
                            }
                            else if (item.Executado == 1)
                            {
                                <text>Em Execução</text>
                            }
                            else if (item.Executado == 2)
                            {
                                <text>Executado com Erro</text>
                            }
                            else
                            {
                                <text>Executado com Sucesso</text>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sistema)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plataforma)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="VivoHome"><i class="fas fa-angle-double-left"></i> Voltar para Home</a>
</div>

@section scripts{

    <!-- third party js -->
    <script src="~/assets/js/vendor/jquery.dataTables.js"></script>
    <script src="~/assets/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/vendor/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/js/vendor/buttons.html5.min.js"></script>
    <script src="~/assets/js/vendor/buttons.flash.min.js"></script>
    <script src="~/assets/js/vendor/buttons.print.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.select.min.js"></script>
    <!-- third party js ends -->
    <!-- demo app -->
    <script src="~/assets/js/pages/demo.datatable-init.js"></script>
    <!-- end demo js-->
}